[Unit]
Description=Sentinel LDK Runtime Environment (aksusbd daemon)
Before=hasplm.service

[Service]
Type=forking
ExecStart=/usr/sbin/aksusbd

[Install]
WantedBy=multi-user.target

