Source: usb-vhci-hcd-dkms
Maintainer: Glaolle <glaolle@gmail.com>
Build-Depends: dkms

Package: usb-vhci-hcd-dkms
Architecture: all
Priority: optional
Section: kernel
Depends: dkms (>= 1.95), linux-headers-generic, ${misc:Depends}
Description: This project consists of a linux kernel driver and some user-mode libraries.
 They allow a process to create a virtual usb host controller.
 Real or virtual usb devices can be "plugged" into this controller.
