Source: usbhaspinfo
Maintainer: Glaolle <glaolle@gmail.com>
Priority: optional
Section: devel

Package: usbhaspinfo
Section: devel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, usbhaspd, libc6-i386
Description: Supplimental tool for UsbHasp discovered in Internet.
 In particular on Debian based platforms.
