Source: usbhaspinfo
Maintainer: Glaolle <glaolle@gmail.com>
Priority: optional
Section: Unspecified

Package: usbhaspinfo
Section: Unspecified
Architecture: any
Multi-Arch: same
#Pre-Depends: ${misc:Pre-Depends}
#Depends: ${misc:Depends}
Depends: usbhaspd, libc6-i386
Description: Supplimental tool for UsbHasp discovered in Internet.
 In particular on Debian based platforms.
