Source: libusb-vhci
Maintainer: Glaolle <glaolle@gmail.com>
Priority: optional
#Build-Depends: debhelper (>= 9)
Section: libs

Package: libusb-vhci-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libusb-vhci (= ${binary:Version}), ${misc:Depends}
Description: This project consists of a linux kernel driver and some user-mode libraries.
 This project consists of a linux kernel driver and some user-mode libraries.
 They allow a process to create a virtual usb host controller.
 Real or virtual usb devices can be "plugged" into this controller.

Package: libusb-vhci
Section: libs
Architecture: any
Multi-Arch: same
#Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This project consists of a linux kernel driver and some user-mode libraries.
 This project consists of a linux kernel driver and some user-mode libraries.
 They allow a process to create a virtual usb host controller.
 Real or virtual usb devices can be "plugged" into this controller.
